<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue-lesson-2-3</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <div id="app">
    <ul>
      <li v-for="(item, index) in list" v-if="index % 2 === 0" @click="log(item.text)">{{ item.text }}</li>
    </ul>
  </div>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        list: [
          { text: '1. Javascript基础' },
          { text: '2. CSS基础' },
          { text: '3. Vue.js入门' },
          { text: '4. HTML基础' },
          { text: '5. SASS基础' }
        ]
      },
      methods: {
        log (msg) {
          alert(msg)
        }
      }
    })
  </script>
</body>
</html>